!!! 5
%html
  %head
    %title HonsProj
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    -# ^^ recommended by bootstrap for mobile zooming ^^

%body
  .container
    %ul.list-inline.space-btns
      %li= link_to "Home", "/", class: "btn btn-primary"
    = yield
